<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MyApp</title>
</head>
<body>
<div>
  <h1 th:text="Add marks" />

    <input type="text" name="CourseName" th:value="$course-students.name" placeholder="Введіть назву курсу">
    <div th:each="mark: ${course-students.marks}}">
      <p th:text="Студент ${mark.student.name} ${mark.student.surname} Оцінка ${mark.totalPoints}"/>
    </div>
  <form th:action="/courses/{course}/social_work/set" method="post">
    <input type="text" name="course-id" placeholder="Введіть айді студента" />
    <input type="text" name="mark" placeholder="Введіть оцінку студента" />
    <button type="submit"> Додати </button>
  </form>
</div>

<form th:action=@{/exit}>
  <p><input type="submit" value="Exit" /></p>
</form>

</body>
</html>